* {  
  margin: 0;
  padding: 0;
}

.background {  
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 690px;
}

.inside {  
  margin: auto;
  width: 1200px;
  min-height: 100%;
  background-color: white;
}

h1 { 
  text-align: center;
  padding: 20px;
  padding-top: 70px;
}

p { 
  font-size: 7;
  font-weight: bolder;
  text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {  
  filter: invert(100%);
}

.updatebutton { 
  font-weight: bolder;
  width: 70px;
  height: 70px;
  text-align: center;
  margin-left: 566px;
  margin-top: 20px;
  border-radius: 10px 0px 10px 0px;
}

.updatebutton:hover { 
  background: black;
  color: aliceblue;
}

.containerGirl, .containerBoy {  
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  float: left;
  top: 10px;
  width: 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerBoy { 
  left: 75px;
}

.containerGirl { 
  left: 115px;
}

.containerGirl input, .containerBoy input {  
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {  
  position: absolute;
  top: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

input:checked ~ .checkmark {  
  background-color: black;
}

.checkmark:after {  
  content: "";
  position: absolute;
  display: none;
}

input:checked ~ .checkmark:after {  
  display: block;
}

.checkmark:after {  
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.alert { 
  font-weight: bolder;
  float: right;
  margin-right: 100px;
  margin-top: 10px;
  color: rebeccapurple;
}

.inputbox { 
  background: black;
  color: aliceblue;
  width: 260px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.container { 
  margin-left: 463px;
}