* {  
  margin: 0;
  padding: 0;
}

.background {  
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 690px;
}

.inside {  
  margin: auto;
  width: 1200px;
  min-height: 100%;
  text-align: center;
  background-color: white;
}

table {  
  text-align: center;
  margin: auto;
  width: 1200px;
  border-collapse: collapse;
}

th {  
  background-color: rgb(209, 235, 210);
  padding: 10px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

td {  
  padding: 10px;
}

tr:nth-last-of-type(even) {  
  background-color: rgb(246, 244, 244);
}

tr:nth-last-of-type(odd) {  
  background-color: rgb(226, 220, 220);
}

#Insert, #Update { 
  float: left;
}

#Delete { 
  float: right;
}

#Insert, #Update, #Delete { 
  width: 140px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

#Insert:hover, #Update:hover, #Delete:hover { 
  background-color: black;
  color: rgb(255, 255, 255);
}

h1 { 
  padding-top: 10px;
  text-decoration: underline;
  margin-bottom: 10px;
}

select { 
  font-weight: bolder;
  padding: 10px;
  margin-bottom: 10px;
}

#alert { 
  width: 1178.5px;
  background-color: rgb(209, 235, 210);
  border: solid black 1px;
  display: block;
  height: 30px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  font-weight: bolder;
}
